*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 18, 18);
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.searchbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbox input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.searchbox button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #555;

}

/* .searchbox button img{
    width: 16px ;
} */

.search_btn_img{
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* object-fit: contain; */
}

.weather_icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
/* .wind_icon{
    width: 50px;
    height: 50px;
}
.humidity_icon{
    width: 50px;
    height: 50px;
} */

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.wind, .humidity{
    font-size: 28px;
    margin-top: -6px;
}
.weather{ 
    display: none;
}
 /* commented till api is active */

 .error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
 }